*{
    margin: 0;
    padding: 0;

}
body{
    overflow: hidden;
    animation: shake1 linear 2s infinite;

}

.sky{
    height:100vh;
    width : 100%;
    background-image: url(background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;    
    position : absolute;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-repeat: no-repeat;
    background-size: cover;    
    position: absolute;
    top: -65px;
}

.track{
    height: 50vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 80vh;
    /* background-size: cover;     */
    animation: moveCar linear 1s infinite;
}

.car{
    background-image: url(car_body.png);
    height: 130px;
    width: 500px;
    background-size: cover;    
    position: absolute;
    background-repeat: no-repeat;
    left: 383px;
    bottom: 20vh;
    animation: shake linear .2s infinite;

}

.wheel1 img{
    position: relative;
    width: 103px;
    top: 55px;
    left: 57px;
    animation: wheelRotation linear .05s infinite;
}
.wheel2 img{
    position: relative;
    width: 99px;
    top: -52px;
    left: 310px;
    animation: wheelRotation linear .05s infinite;

}

@keyframes wheelRotation{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes moveCar{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes moveSky{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shake1{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}